<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue à ton utilisateur</h1>

    <h4>Pour creer votre nouveau potin:</h4>

    <a href="/gossips/new/"> aller créer un nouveau potin</a><br/>
    <h4>Pour regarder les messages:</h4>
    <a href="/gossipss/new/"> Visionner les messages</a> 

  </body>
</html>
