<html>

<head>

	<title> Creer un potin </title>
</head>

	<body>
	
			<h1> Creer un potin !</h1> 

			<p>Balance tes blablas via le formulaire ci-dessous</p>

		<form action="/gossips/new/" method="POST"> <!-- champ action defini l'url qui va recevoir le contenu du formulaire, champ method définit type de requête -->

				Entrer votre nom:   <input type="text" name="gossip_author"/><br/> <!-- champ de saisie texte à remplir, name le variable -->

				Votre message :      <input type="text" name="gossip_content"/><br/>

			 <input type="submit"/> <!-- creation type bouton submit -->


		</form>

	</body>

</html>
